<!DOCTYPE html>
<html lang="tr"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>OTP Code</title>
</head>

<body style="font-family: Arial; padding: 20px; background-color: #f5f5f5;">

<div style="background: white; padding: 30px; border-radius: 8px;">

    <h2>Şifre Sıfırlama</h2>

    <p>Doğrulama kodunuz:</p>

    <h1 th:text="${otpCode}" style="color: #007bff; font-size: 32px; letter-spacing: 5px;"></h1>

    <p>Bu kod 5 dakika boyunca geçerlidir.</p>

</div>

</body>
</html>